.title {
  color: white;
  //font-size: 38px;
  font-size: 35px;
  text-transform: uppercase;
}

.title__higlight {
  display: block;
  color: @red;
  //font-size: 102px;
  font-size: 65px;
  font-weight: normal;
}